.ctrl__card {
    background-color: white;
    border: 1px solid #737373;
    height: 23rem;
    width: 15rem;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);

}
.ctrl__card-img {
    height: 9.8rem;
}

.ctrl__card-img img {
    height: 9.8rem;
    width: 100%;
}

.ctrl__card-titulo {
    text-align: center;
    text-wrap: nowrap;
    height: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0.8rem;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
}


.btn__ctrl {
    background-color: #60441b;
    font-size: 13px;
    outline: 1px solid black;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    background-color: #4b3616;
}

.button__box {
    display: flex;
    gap: 3px;
}